<!DOCTYPE html>
<html>
<body>
<h1>Input</h1>
<input id="record" type="button" value="RECORD" />
<input id="stop" type="button" value="STOP" />
<input id="get-file" type="button" value="Get File" />
<input id="delete-file" type="button" value="DELETE File" />
<script
        src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="
        crossorigin="anonymous"></script>
<script src="/bower_components/socket.io-client/socket.io.js"></script>
<script src="/js/Socket.js"></script>
<script src="/js/InputManager.js"></script>
</body>
</html>
