<!DOCTYPE html>
<html>
	<body>
		<h1>Input</h1>
	<script src="/bower_components/socket.io-client/socket.io.js"></script>
	<script src="/js/Socket.js"></script>
	<script src="/js/InputManager.js"></script>
	</body>
</html>
