
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Song</title>
    <script src="bower_components/webcomponentsjs/lite.js"></script>
    <link rel="import" href="bower_components/polymer/polymer.html">
    <link rel="import" href="bower_components/webaudio-controls/webaudio-controls.html" >

</head>
<body>

<webaudio-slider src="bower_components/webaudio-controls/img/hsliderbody.png"></webaudio-slider>

</body>