<!DOCTYPE html>
<html>
  <head>
    <title>Studio</title>
    <link rel="import" href="bower_components/polymer/polymer.html" />
    <link rel="import" href="bower_components/webaudio-controls/webaudio-controls.html" />
    <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="/bower_components/socket-io/build/library.js"></script>
    <script type="application/javascript" src="/js/studio.js"></script>
  </head>
  <body>

  </body>
</html>

